#footer-info{
    margin-top: 20px;
    padding: 28px;
    box-sizing: border-box;
    border-top: 0.7px solid rgba(119, 119, 119, 0.5);
    .container{
        width: 90%;
        margin: 0 auto;
        .column-info{
            font-family: sans-serif;
            margin-top: 13px;
            h3{
                font-size: 16px;
                color: #444;
                padding: 10px 0;
            }
            p{
                font-size: 13px;
                color: #777;
                padding: 6px 0;
            }
        }
    }
}